@model IEnumerable<OES_Complete_Project.Models.Reports>

@{
    ViewData["Title"] = "Results";
}

<h1>Results</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th> 
                @Html.DisplayNameFor(model=>model.Exam_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Students.User_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marks1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marks2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marks3)
            </th>
             <th>
                @Html.DisplayNameFor(model=>model.technology.Technology_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td> 
                @Html.DisplayFor(modelItem=>item.Exam_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.Students.User_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marks1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marks2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marks3)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.technology.Technology_Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Exam_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Exam_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Exam_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
